.work {
  padding-top: 5vw;

  .work_wrapper {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 100px;

    .project-title {
      font-size: 24px;
    }

    .image {
      width: 70%;
      min-height: 300px;
      background: #3f3f3f2d;
      opacity: 0.8;
      // background: transparent;
      border-radius: 5px;
      box-shadow: 3px 4px 4px 2px var(--bg-secondary);
    }
    .float {
      display: flex;
      flex-direction: column;
      position: absolute;
      p { margin: 0; }
      h3 {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .description {
        max-width: 600px;
        background: #333333;
        box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 15px;
        z-index: 9 !important;
      }
      .techs {
        background: #333333;
        box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.25);
        padding: 3px 10px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 10px;
        z-index: 9 !important;
      }
      .icons {
        display: flex;
        gap: 12px;
        z-index: 9 !important;
      }
    }
  }
}