@import '../../main.scss';
.hero {
  padding-top: 15vw;
  // min-height: clamp(45vh, 50vh, 60vh);
  // border-bottom: 0.5px solid var(--teal-primary);
  @include breakpoint('md') {
    // text-align: center;
  }
  
  &__mac {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2vw;
    top: 5vw;
    cursor: url('/lens.svg'), auto;
    &__blur {
      position: absolute;
      background-color: #556B6A;
      filter: blur(60.5px);
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
    img {
      width: 300px;
      z-index: 2;
    }
  }

  @media screen and (max-width: 950px) {
    &__mac {
      display: none;
    }
  }

  &__intro {
    color: var(--teal-primary);
    font-size: 20px;
    line-height: 26px;
    margin-top: 15vh;
  }

  &__name {
    margin-top: 15px;
    font-size: 50px;
    font-weight: 800;
    line-height: 53px;
    letter-spacing: 0.045em;
    text-transform: uppercase;
  }
  
  &__title {
    margin-top: 5px;
    font-size: 40px;
    font-weight: 800;
    line-height: 53px;
    color: var(--text-primary);
  }

  &__summary {
    margin-top: 20px;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.035em;
    max-width: 700px;
    color: var(--text-muted);
  }
  button {
    margin-top: clamp(30px, 50px, 6vw);
    padding: 15px 35px;
    box-shadow: 1px 1px 5px var(--accent-purple);
    transition: color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    &:hover {
      color: var(--accent-green);
      border-color: var(--accent-gold);
      box-shadow: 1px 1px 5px var(--accent-gold);
    }
  }
}