@import '../../main.scss';

.about {
  padding-top: 9vw;
  cursor: url('/cursor.svg'), auto;
}
.about-section {
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 10px;
  color: var(--text-muted);
  &__left {
    grid-column: 1 / 2;
    @include breakpoint('md') {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      max-width: 95%;
    }
    p {
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0.03em;
      padding-bottom: 10px;
    }
    .skills {
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding-left: 20px;
      }
      li {
        margin-top: 5px;
        list-style-image: url('../../assets/list.svg');
      }
    }
  }
  &__right {
    grid-column: 2 / 3;
    position: relative;
    max-width: 300px;
    margin-left: auto;
    @include breakpoint('md') {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      margin: 0 auto;
      margin-left: -1px;
      transform: translateY(-30px);
    }
    img {
      position: relative;
      margin-top: 50px;
      width: 280px;
      border-radius: 4px;
      z-index: 1;
    }
    &::before {
      content: '';
      position: absolute;
      top: 48px;
      right: 2px;
      width: 280px;
      height: 290px;
      border-radius: 4px;
      border: 1px solid var(--accent-purple);
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      width: 280px;
      height: 290px;
      background: teal;
      z-index: 2;
      opacity: 0.2;
      margin-top: 50px;
      border-radius: 1px;
    }
  }
}