.about-section {
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 10px;
  color: var(--font-dark2);
  &__left {
    p {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.03em;
    }
    .skills {
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        margin-top: 5px;
        list-style-image: url('../../assets/list.svg');
      }
    }
  }
  &__right {
    position: relative;
    max-width: 300px;
    margin-left: auto;
    img {
      position: relative;
      margin-top: 50px;
      width: 300px;
      height: 330px;
      border-radius: 10px;
      z-index: 10;
    }
    &::before {
      content: '';
      position: absolute;
      top: 40px;
      right: -10px;
      width: 300px;
      height: 330px;
      border-radius: 10px;
      border: 1px solid var(--font-light);
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      width: 300px;
      height: 330px;
      background: teal;
      z-index: 99;
      opacity: 0.2;
      margin-top: 50px;
      border-radius: 10px;
    }
  }
}