.contact {
  padding-top: 5vw;
  text-align: center;
  h2 {
    font-size: 60px;
    line-height: 74px;
    text-transform: uppercase;
    color: var(--text-primary);
  }
  button {
    text-transform: none;
    width: 200px;
    height: 50px;
    margin-top: 6vw;
  }
}