
.App {
  position: relative;
  max-width: 100%;
  width: calc(100vw - 24px);
  margin: 0 auto;
  padding: 0 0 20px 0;
  scroll-behavior: smooth;
  scrollbark-width: thin;
  /* background: linear-gradient(145deg, #121212, #1A1A1A); */

  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px); */ 
}
.mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #1e1e1e;
  opacity: 0.9;
}
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8vw 8vw 0 8vw;
  flex-direction: column;
  position: relative;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 6vw 6vw 0 6vw;
    margin: 0 0 0 12px;
  }
}
