@import '../../main.scss';
.nav-wrapper {
  z-index: 5;
  display: flex;
  align-items: baseline;
  padding: 10px 20px;
  width: calc(100vw - 40px);
  // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  margin-top: -20px;
  background: #242424;
  // background: var(--background);
  // position: relative;
}
.logo {
  margin-right: auto;
  transform: translateY(30%);
  cursor: pointer;
  transition: margin-left 700ms ease-in-out;
  &:hover {
    margin-left: 10px
  }
}
.nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  button {
    margin-right: 2vw;
  }
}
.mobile-nav {
  position: fixed;
  display: none;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  right: -300px;
  padding: 20px;
  width: 250px;
  height: 100vh;
  z-index: 100;
  background: #242424;
  // background: var(--background);
  transition: right 0.5s ease-in-out;
  @include breakpoint('md') {
    display: flex;
    .nav-item {
      display: block;
      padding: 10px;
    }
  }

  button:first-of-type {
    margin-left: auto;
  }
  button:last-of-type {
    width: 100%;
  }
}
.menu-toggle {
  display: none;
  padding: 0;
  cursor: pointer;
  height: 42px;
  border: none;
  img {
    height: 40px;
  }
  @include breakpoint('md') {
    display: block;
  }
}
.nav-item {
  margin-right: 2vw;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  border-bottom-width: 0;
  transition: border-bottom-width 0.5s, border-bottom 0.3s, transform 0.3s ease-in-out;
  a {
    color: #fff;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--font-light);
    }
  }
  
  &:hover {
    transform: translateY(-10%);
    border-bottom: 1px solid var(--font-light);
  }

  @include breakpoint('md') {
    display: none;
  }
}

.social-nav {
  position: fixed;
  bottom: 0;
  margin: auto auto -20px 20px;
  z-index: 90;
 .nav-social {
   display: flex;
   flex-direction: column;
   gap: 25px;
   justify-content: center;
   align-items: center;
   img {
     width: 25px;
     cursor: pointer;
     transition: width 0.9s linear;
     &:hover {
       animation: slide 900ms linear infinite alternate;
       width: 35px;
     }
    }
  }
}

.email-nav {
  position: fixed;
  bottom: 0;
  right: -20px;
  margin: auto -50px -20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 90;
  p {
    transform: rotate(-90deg);
    letter-spacing: 3px;
    margin-bottom: 110px;
    cursor: pointer;
    transition: margin-bottom 0.5s ease-in-out;
    a {
      color: var(--font-light);
      transition: color 0.9s ease-in-out;
    }
  }
  p:hover {
    a {
      color: var(--font-light-alt);
    }
    margin-bottom: 120px;
  }
}

.vertical-divider {
  height: 300px;
  width: 1px;
  background-color: var(--font-light);
 }

.scroll-btn {
  position: fixed;
  bottom: 20px;
  left: 33px;
  z-index: 99;
  cursor: pointer;
  img {
    width: 60px;
  }
}

@include breakpoint('xl') {
  .email-nav, .social-nav {
    opacity: 0;
  }
}

@keyframes slide {
  0% { transform: translateY(0%)}
  100% { transform: translateY(25%)}
}

@keyframes slideSideways {
  0% { transform: translateX(15%)}
  100% { transform: translateX(0%)}
}